*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-diem-chuan{
    padding-left: 35% ;
    font-size: 25px;
}
.diem-chuan{
    text-align: center;
    width: 50%;
}
.row-diem{
    flex: 0 0 30%;
    max-width: 30%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.uu-tien{
    flex: 0 0 45%;
    max-width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
button.py-3 {
    margin-left: 46.5%;
}
#ketQuaTuyenSinh{
    color: red;
}
.row-tien-dien{
    flex: 0 0 40%;
    max-width: 40%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
input{
    text-align: center;
}
#ketQuaTienDien{
    color: red;
}
#ketQuaThue{
    color: red;
}
.btn--radio{
    position: relative;
    font-size: 25px;
    left: 35%;
    margin:0 20px;
}
input#nha-dan{
    visibility: hidden;
}
input#doanh-nghiep{
    visibility: hidden;
}
.check{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 8px;
    left: -10px;
    border-radius: 100% ;
    border: 3px solid green;
}
.check::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 7px;
    top: 5px;
    border-radius: 100%;
    border: 2px solid white;
}
input[type="radio"]:checked ~ .check {
    border-color: blue ;
}
input[type="radio"]:checked ~ .check::before{
    border-color: blue;
    background-color: rgba(126, 126, 206, 0.308);
}
.form--radio{
    width: 50%;
    margin-left: 280px;
}
.radio--connect{
    display: none;
}
#ketQuaTienCap{
    color: red;
}